@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #e4e9f7;
  --sidebar-color: #ffffff;
  --primary-color: #695cfe;
  --primary-color-light: #ebebf0;
  --toggle-color: #adacac;
  --text-color: #000000;
  --text-secondary-color: #3b3b3b;
  --icono-color: #080808;
  --icono-secondary-color: #695cfe;

  --bg-color-modal: rgba(207, 206, 206, 0.5);

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-04);
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --text-secondary-color: #9f9e9e;
  --icono-color: #ffffff;
  --icono-secondary-color: #4c42b8;

  --bg-color-modal: rgba(0, 0, 0, 0.5);
}
/* ==== Sidebar ==== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-03);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-03);
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  display: none;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}
.sidebar li .icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}
.sidebar header {
  position: relative;
}

.sidebar .image-text img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
  color: var(--text-color);
}

.header-text .username {
  margin-top: -2px;
  color: var(--text-secondary-color);
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
  transition: var(--tran-03);
}

.sidebar.close header .toggle {
  transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar .menu {
  margin-top: 35px;
}
.sidebar .search-box {
  background: var(--primary-color-light);
  border-radius: 6px;
  transition: var(--tran-05);
}
.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  background: var(--primary-color-light);
  transition: var(--tran-05);
  color: var(--text-color);
}
.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar .mode {
  position: relative;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}

.menu-bar .mode i {
  position: absolute;
  transition: var(--tran-03);
}
.menu-bar .mode i.sun {
  opacity: 0;
}

body.dark .menu-bar .mode i.sun {
  opacity: 1;
}
body.dark .menu-bar .mode i.moon {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  border-radius: 6px;
  background: var(--primary-color-light);
  transition: var(--tran-05);
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: var(--toggle-color);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  transition: var(--tran-03);
}

body.dark .switch::before {
  left: 24px;
}

.text-1 {
  pointer-events: none;
  font-size: 30px;
  color: var(--text-color);
  letter-spacing: 1vh;
  text-align: center;
}
.home {
  position: relative;
  left: 88px;
  height: 100vh;
  width: calc(100% - 88px);
  background: var(--body-color);
  transition: var(--tran-05);
}

.sidebar.close ~ .home {
  left: 88px;
  width: calc(100% - 88px);
}

/* Responsividad para la sidebar */
@media (max-width: 800px) {
  /* Ajusta el ancho según tu preferencia */
  .sidebar {
    width: 60%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .text-1 {
    text-align: center;
  }

  .home {
    position: relative;
    left: -100%;
    width: 100%;
    top: 30px; /* Ajusta el top para que el contenido no se oculte debajo de la sidebar */
  }
}

/* ... museum.html  ... */
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  background-color: var(--body-color);
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  top: -20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-left: 10px;
}

.title {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
}

.image-museum {
  width: 90%;
  height: 90%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Añadir transición para el efecto de hover */
}

.image-museum:hover {
  transform: scale(1.05); /* Aumentar el tamaño al 105% */
}

.image-museum img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
}

.category {
  font-size: 0.7rem;
  color: var(--text-secondary-color);
}

.address-map {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  grid-column: span 2;
}

.address {
  background-color: var(--sidebar-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.address h3,
.rooms h3,
.events h3,
.hours h3,
.prices h3 {
  font-size: 1.3rem;
  color: var(--text-color);
  margin-bottom: 10px;
}
.address p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 10px;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  grid-column: span 2;
}

.map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.map:hover {
  transform: scale(
    1.05
  ); /* Aumentar el tamaño al 105% cuando se pasa el mouse */
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 15px; /* Esto asegura que el contenido del iframe también tenga bordes redondeados */
  object-fit: cover;
  pointer-events: none;
}

/* Deslizable básico */
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .main-content {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .title {
    flex-direction: column;
    align-items: center;
  }

  .image-museum {
    width: 100%;
    height: auto;
  }

  .info {
    margin-top: 10px;
  }
  .address-map {
    grid-template-columns: 1fr; /* Hacer que ocupen una columna en pantallas pequeñas */
    gap: 20px; /* Ajustar el espacio entre el mapa y la dirección */
  }

  .map,
  .address {
    width: 100%; /* Asegurarse de que el mapa y la dirección ocupen todo el ancho */
    height: 100%; /* Ajustar la altura según el contenido */
  }
}

/* El fondo del modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-modal); /* Fondo oscuro con opacidad */
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
}

/* Contenido del modal */
.modal-content {
  background-color: var(--primary-color-light);
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  color: var(--text-color);
}
.modal-content h3 {
  font-size: 30px;
  padding-bottom: 20px;
}

.modal-content p {
  font-size: 20px;
}

.modal-content iframe {
  border-radius: 10px;
}

.address,
.rooms,
.events,
.hours,
.prices {
  background-color: var(--primary-color-light);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  text-align: left;
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: box-shadow 0.2s; /* Transición para el efecto de sombra */
}
.address:hover,
.rooms:hover,
.events:hover,
.hours:hover,
.prices:hover {
  position: relative; /* Necesario para que el pseudo-elemento se posicione correctamente */
  box-shadow: 8px 8px 12px var(--primary-color), 0 0 20px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el mouse */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .main-content {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .image-title {
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .info {
    margin-top: 10px;
  }

  /* Estilos para el modal en pantallas pequeñas */
  .modal {
    display: none; /* Cambia a flex para centrar el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
  }

  .modal-content {
    margin-left: 33%;
    width: 90%; /* Ajusta el ancho del modal al 90% de la pantalla */
    max-width: 50%; /* Mantiene el ancho máximo del modal */
  }

  .modal-content h3 {
    margin-bottom: 5px;
    font-size: 20px;
  }
  .modal-content p {
    font-size: 15px;
  }
}
@media (max-width: 850px) {
  .modal-content {
    margin-left: 33%;
    width: 90%; /* Ajusta el ancho del modal al 90% de la pantalla */
    max-width: 50%; /* Mantiene el ancho máximo del modal */
  }
}
@media (max-width: 1000px) {
  .modal-content {
    margin-left: 33%;
    width: 90%; /* Ajusta el ancho del modal al 90% de la pantalla */
    max-width: 50%; /* Mantiene el ancho máximo del modal */
  }
  .modal-content h3 {
    margin-bottom: 10px;
    font-size: 25px;
  }
  .modal-content p {
    font-size: 15px;
  }
}
