@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #e4e9f7;
  --sidebar-color: #ffffff;
  --primary-color: #695cfe;
  --primary-color-light: #ebebf0;
  --toggle-color: #adacac;
  --text-color: #000000;
  --text-secondary-color: #3b3b3b;
  --icono-color: #080808;
  --icono-secondary-color: #695cfe;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-04);
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --text-secondary-color: #9f9e9e;
  --icono-color: #ffffff;
  --icono-secondary-color: #4c42b8;
}
/* ==== Sidebar ==== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--tran-03);
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}
.sidebar li .icon {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}
.sidebar header {
  position: relative;
}

.sidebar .image-text img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
  color: var(--text-color);
}

.header-text .username {
  margin-top: -2px;
  color: var(--text-secondary-color);
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
  transition: var(--tran-03);
}

.sidebar.close header .toggle {
  transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar .menu {
  margin-top: 35px;
}
.sidebar .search-box {
  background: var(--primary-color-light);
  border-radius: 6px;
  transition: var(--tran-05);
}
.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  background: var(--primary-color-light);
  transition: var(--tran-05);
  color: var(--text-color);
}
.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar .mode {
  position: relative;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}

.menu-bar .mode i {
  position: absolute;
  transition: var(--tran-03);
}
.menu-bar .mode i.sun {
  opacity: 0;
}

body.dark .menu-bar .mode i.sun {
  opacity: 1;
}
body.dark .menu-bar .mode i.moon {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
  border-radius: 6px;
  background: var(--primary-color-light);
  transition: var(--tran-05);
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: var(--toggle-color);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  transition: var(--tran-03);
}

body.dark .switch::before {
  left: 24px;
}

.home {
  position: relative;
  left: 250px;
  height: 100vh;
  width: calc(100% - 88px);
  background: var(--body-color);
  transition: var(--tran-05);
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 8px 40px;
}

.sidebar.close ~ .home {
  left: 88px;
  width: calc(100% - 88px);
}

/* ... (tu código CSS existente) ... */

/* Responsividad para la sidebar */
@media (max-width: 800px) {
  /* Ajusta el ancho según tu preferencia */
  .sidebar {
    width: 60%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .home {
    position: relative;
    left: -100%;
    width: 100%;
    top: 30px; /* Ajusta el top para que el contenido no se oculte debajo de la sidebar */
  }
}

/* From Uiverse.io by Kagamiie */
.museum-info {
  padding: 100px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: -50px;
}

.museum-title {
  font-weight: 500;
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-color);
}

.lighter {
  font-size: 0.9em;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag {
  font-weight: 700;
  color: var(--text-colorr);
  cursor: pointer;
  transition: 0.6s;
}

.tag:hover {
  color: var(--text-color);
  transform: translateY(2px);
}

/*DELETE THIS TWO LINE*/
.delete {
  background-color: var(--text-secondary-color);
}

.card-img div {
  width: 90%;
}
/*IF USING IMAGES*/

/* Estilos generales para las tarjetas */
.card-container {
  display: grid;
  gap: 10px;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.card {
  margin-top: 15px;
  background-color: var(--primary-color-light);
  color: var(--text-secondary-color);
  width: 100%;
  max-width: 350px;
  max-height: 350px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card:hover {
  transform: scale(1.05); /* Efecto al pasar el ratón por encima */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.2) 0px 30px 60px -30px;
}

.card h3 {
  font-size: 1.2rem; /* Ajustar tamaño de texto */
  font-weight: bold;
}

.card p {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 10px;
}
/* Para pantallas grandes (escritorio) */
@media (min-width: 1024px) {
  .card-container {
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .tag {
    font-size: 0.9rem;
  }

  .museum-title {
    font-size: 1rem;
  }

  .museum-info {
    font-size: 1rem;
  }
  .card-container {
    flex-direction: column; /* Alinea las tarjetas en una sola columna */
    align-items: center;
    gap: 20px; /* Espaciado entre tarjetas */
    grid-template-columns: 1fr; /* Una sola columna */
  }
}

.card-img {
  position: relative;
  top: -20px;
  height: 100px;
  display: flex;
  justify-content: center;
}

.card {
  max-width: 320px; /* Hacer las tarjetas un poco más anchas en tablets */
  margin-bottom: 20px;
}

/* Change the .card-img div to .card-img img to use img*/
.card-img a,
.card-img div {
  height: 150px;
  width: 90%;
  /* Change this width here to change the width of the color/image */
  object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-imgs {
  transition: all 0.5s;
}

/* From Uiverse.io by alexmaracinaru */
.cta {
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color);
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  fill: var(--text-color);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}
.loader-shape-3 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.loader-shape-3:after {
  width: 30px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--icono-secondary-color); /* Color secundario */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 15px;
}
.loader-shape-3:before {
  width: 20px;
  height: 20px;
  border-radius: 100% 100% 100% 0;
  box-shadow: 0px 0px 0px 2px var(--icono-color); /* Color principal */
  animation: anm-SL-3-move 1s linear infinite;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-46deg);
  margin-top: 20px;
}
.loader-shape-3:before,
.loader-shape-3:after {
  position: absolute;
  content: "";
}
@keyframes anm-SL-3-move {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}
